/* Begin Roboto definition */
@font-face {
	font-family: roboto;
	src: url('./fonts/Roboto-Regular.ttf') format('truetype');
	font-weight: regular;
	font-style: normal;
}

@font-face {
	font-family: roboto;
	src: url('./fonts/Roboto-Italic.ttf') format('truetype');
	font-weight: regular;
	font-style: italic;
}

@font-face {
	font-family: roboto;
	src: url('./fonts/Roboto-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: roboto;
	src: url('./fonts/Roboto-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: roboto;
	src: url('./fonts/Roboto-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: roboto;
	src: url('./fonts/Roboto-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}
/* End Roboto definition */

/* Begin RobotoMono Mono definition */
@font-face {
	font-family: roboto-mono;
	src: url('./fonts/RobotoMono-Regular.ttf') format('truetype');
	font-weight: regular;
	font-style: normal;
}

@font-face {
	font-family: roboto-mono;
	src: url('./fonts/RobotoMono-Italic.ttf') format('truetype');
	font-weight: regular;
	font-style: italic;
}

@font-face {
	font-family: roboto-mono;
	src: url('./fonts/RobotoMono-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: roboto-mono;
	src: url('./fonts/RobotoMono-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}
/* End RobotoMono Mono definition */

/* Begin Material Icons definition */
@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: local('Material Icons'),
	local('MaterialIcons-Regular'),
	url('./fonts/MaterialIcons-Regular.ttf') format('truetype');
}
/* End Material Icons definition */

/* Begin style rules */

/* remove spacing after last paragraph */
p:last-child {
	margin-bottom: 0;
}
/* */

/* consistent padding inside card's supporting text */
.mdl-card__supporting-text {
	padding: 1.5rem;
}
/* */

/* grid spacing equal to line height */
.mdl-grid {
	/* half of line height */
	padding: 0.75rem;
}
/* */

html, body {
	font-family: roboto, 'Roboto', sans-serif;
	line-height: 1.5;
}

/* list spacing */
ul, ol {
	font-size: 1rem;
	line-height: 1.5;
	margin: 1.5rem 0;
}
/* */

/* list item spacing */
li {
	margin-bottom: 1.5rem;
}

li:last-child {
	margin-bottom: 0;
}
/* */

/* change Floating Action Buttons color */
.mdl-button--fab.mdl-button--colored {
	background: rgb(244, 67, 54);
}
/* */

/* add custom divs for arrow-back and arrow-forward */
.arrow-back {
	position: fixed;
	top: 50%;
	left: 1%;
	z-index: 9999;
}

.arrow-forward {
	position: fixed;
	top: 50%;
	right: 1%;
	z-index: 9999;
}
/* */

/* card audio button */
.mdl-button.music {
	line-height: 100%;
	height: 100%;
}
/* */

.mdl-card__title {
	width: 100%;
	background-color: rgb(244,67,54);
	color: white;
	/* padding proportional to line height, assuming line height is 1.5 */
	padding: 1.5rem;
}

.mdl-card.mdl-shadow--4dp.mdl-cell.mdl-cell--8-col.mdl-grid {
	padding: 0;	
}

.full-width {
    min-width: 693.33px;
}

.mdl-textfield__input {
  font-family: roboto-mono, monospace;
}

.mdl-textfield__label {
  font-family: roboto-mono, monospace;
  color: #f0f0f0;
}

/* hyperlinks */
a {
	font-family: roboto-mono,'Roboto Mono', monospace;
}

/* font sizes adaptive to browser preferences, used to figure out 1rem value*/
html, body {
	font-size: 100%;
}

p {
	font-size: 1rem;
	font-family: roboto, 'Roboto', sans-serif;
	font-weight: 400;
	line-height: 1.5;
	/* bottom margin equal to line height */
	margin-bottom: 1.5rem;
    
}

.demo-content {
	max-width: 1080px;
}

.demo-navigation .mdl-navigation__link .material-icons 
{
    font-size: 24px;
    margin-right: 32px;
}

.demo-drawer-header {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 16px;
}

.demo-avatar {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}

.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('welcome.png') center / cover;
}
.demo-card-progress {
	height: 256px;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.demo-options .mdl-checkbox__box-outline {
    border-color: rgba(255, 255, 255, 0.89);
}

.android-drawer span.mdl-navigation__link.mdl-navigation__link {
    color: #f44336
}

.android-drawer .mdl-navigation__link.mdl-navigation__link {
    font-size: 14px;
    color: #757575;
}

.android-drawer-separator {
    height: 1px;
    background-color: #dcdcdc;
    margin: 8px 0;
}

code
{
	/* changed bgcolor to match terminal */
	/* background-color: rgba(0, 0, 0, 0.85); */
	color: rgb(32, 33, 36);
    /* color: white; */
    /* height: 110px; */
    /* changed padding to use less line-height */
    /* width: 115px; */
    /* height: 220px; */
	font-family: roboto-mono, monospace;
}

.text-editor-wrap {
    display: block;
    /* margin: auto;
    max-width: 530px; */
    border-radius: 10px;
   /*  box-shadow: rgba(0, 0, 0, 0.8) 0px 20px 70px; */
    clear: both;
    overflow: hidden;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.title-bar {
    padding: 5px 0;
    font-family: "Lucida Grande", sans-serif;
    font-size: 0.75em;
    text-align: center;
    text-shadow: rgba(255, 255, 255, 0.8) 0px 1px 0px;
    background-color: #f8f8f8;
    background-image: -webkit-linear-gradient(top, #e8e8e8, #bcbbbc);
    background-image: -moz-linear-gradient(top, #e8e8e8, #bcbbbc);
    background-image: linear-gradient(top, #e8e8e8, #bcbbbc);
    box-shadow: inset rgba(255, 255, 255, 0.7) 0px 1px 1px;
    border-bottom: #6a6a6a 1px solid;
}

.shift-text .text-body {
    height: 120px;
}

.text-body {
   /*  height: 250px; */
    background-color: rgba(0, 0, 0, 0.85);
    padding: 10px;
    color: #f0f0f0;
    text-shadow: #000 0px 1px 0px;
	font-family: roboto-mono, 'Roboto Mono', monospace;
	/* changed font-size to 1rem */
    font-size: 1rem;
	/* changed line-height to 1.5 */
    line-height: 1.5;
    font-weight: 500;
    text-align: left;
    overflow: hidden;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.typed-cursor {
    opacity: 1;
    font-weight: 100;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
